
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
    position: absolute;
    top:25%;
    left:25%;
}

.d3{
    width: 80px;
    height: 80px;
    background-color: #800080;
    border-radius:40px;
    border: 18px solid #0000ff;
    position: absolute;
    top: 15px;
    left: 15px;
}
.d2{
    width: 150px;
    height: 150px;
    background-color: #008000;
    border-radius:80px;
    border: 20px solid #ffff00;
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
}
.d1{
    width: 250px;
    height: 250px;
    background-color: #ffa500;
    border-radius:130px;
    border: 25px solid #ff0000;
    display: block;
}